*,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Sans", sans-serif;
}
input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}
.btn {
  outline: none;
  border: none;
}
/* header */
.header {
  padding-top: 20px;
  background: #fbfaff;
  position: relative;
  z-index: 2;
}
.header-top {
  padding: 0 100px;
  display: flex;
  align-items: center;
}
.header-top-contact {
  display: flex;
  align-items: center;
}
.header-top-icon {
  width: 46px;
  height: 46px;
}
.header-top-link {
  width: 202px;
  height: 33px;
  margin-left: 10px;
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.36364; /* 136.364% */
  text-decoration: underline solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.logo {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 357px;
}
.header-top-option {
  display: flex;
  width: 392px;
  height: 23px;
  flex-shrink: 0;
  justify-content: space-between;
  margin-left: auto;
}
.option-item {
  color: #51586a;
  font-weight: 400;
  line-height: normal;
}

/* .contain {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
} */
.header-body {
  margin-top: 44px;
}
.header-body::before {
  content: url(/icon/head-derc.svg);
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  left: 0px;
  /* bottom: 0; */
  top: 133px;
}
.header-body::after {
  content: url(/icon/head-derc-2.svg);
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
}

.head-body-img {
  width: 514px;
  height: 705px;
  margin-top: 49px;
  flex-shrink: 0;
}
.head-body-title {
  width: 500px;
  height: 164px;
  flex-shrink: 0;
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 0.95; /* 95% */
  letter-spacing: -3.2px;
}
.head-body-dersc {
  width: 370px;
}
.dersc {
  color: #51586a;
  font-family: "DM Sans";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6667; /* 166.667% */
}
.book {
  width: 170px;
  height: 62px;
  background: #5d3bee;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.66667; /* 166.667% */
}
.column-right {
  margin-top: 181px;
}
.head-body-dersc {
  margin-top: 20px;
}
.head-body-active {
  margin-top: 50px;
}
.my-works {
  color: #080415;
  font-size: 1.8rem;
  margin-left: 30px;
  font-weight: 700;
  line-height: 1.6667; /* 166.667% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.head-body-follow {
  display: flex;
  margin-top: 104px;
  margin-bottom: 43px;
  align-items: center;
}
.follow {
  margin-right: 15px;
}

.follow-option + .follow-option {
  margin-left: 20px;
}

/* media */
.media {
  margin-top: 100px;
}
.media-title {
  position: relative;
  color: #080415;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.19048; /* 119.048% */
  letter-spacing: -1.68px;
  width: 253px;
  height: 100px;
  margin-left: 100px;
}
.media-title::before {
  content: "";
  position: absolute;
  top: 22px;
  left: -100px;
  display: block;
  width: 86px;
  height: 2px;
  /* border-radius: ; */
  background-color: #5d3bee;
}

.media-icon {
  width: 30px;
  height: 32px;
}

.media-content,
.media-row {
  display: flex;
}

.media-list {
  margin-left: auto;
}
.media-row + .media-row {
  margin-top: 36px;
}
.media-item {
  display: flex;
  align-items: center;
}
.media-name {
  margin-left: 13px;
}
.media-name1 {
  margin-right: 70px;
}
.media-name2 {
  margin-right: 87px;
}
.media-name3 {
  margin-right: 78px;
}
.media-name5 {
  margin-right: 68px;
}
.media-name6 {
  margin-right: 66px;
}
.media-name7 {
  margin-right: 36px;
}

/* product */
.product {
  margin-top: 133px;
  margin-bottom: 140px;
}
.product-head {
  text-align: center;
}
.product-title {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.117857; /* 117.857% */
  letter-spacing: -2.24px;
}
.product-dersc {
  width: 534px;
  text-align: center;
  margin: 20px auto 60px;
}
.product-item-title {
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
}
.product-item-dersc {
  width: 285px;
}
.product-icon {
  width: 38px;
  height: 38px;
}
/* .col {
  border: 1px solid #000;
} */
.product-img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-item-title {
  margin-top: 22px;
}
.product-item-dersc {
  margin-top: 15px;
}
.product-item {
  background: #fbfaff;
  padding: 33px 0 32px 43px;
}

/* project */

.project {
  background: #5d3bee;
  padding: 86px 0;
}
.project-title {
  /* width: 468px; */
  color: #fff;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.17857; /* 117.857% */
  letter-spacing: -2.24px;
}
.project-dersc {
  margin-top: 31px;
  color: #fff;
}

.project-row-3 {
  margin-top: 30px;
}
.project-row-2 {
  margin-top: 70px;
}
.project-item {
  position: relative;
  display: flex;
  padding: 24px 23px 23px 34px;
  background-color: #fff;
  z-index: 1;
}
.project-ex {
  width: 246px;
  height: 187px;
  flex-shrink: 0;
  margin-left: auto;
}
.project-name {
  color: #080415;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  letter-spacing: -1.28px;
}
.project-item-dersc {
  margin-top: 10px;
  width: 220px;
  color: #51586a;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4375; /* 143.75% */
}
.project-link {
  display: inline-block;
  margin-top: 20px;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6667; /* 166.667% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.project-item::before {
  content: url(/images/project-decor.svg);
  position: absolute;
  inset: 0;
  z-index: -1;
}
.project-all {
  display: inline-block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 62px;
  background: #fff;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6667; /* 166.667% */
  border: none;
}
